*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  color: #333333;
  background-color: #F2F2F2;
  background-position: top center;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 2px 4px #979797;
  position: relative;
}

/* Header
=================== */

.header {
  width: 1200px;

  background-color: #FFFFFF;

  position: relative;

}

.site-nav,
.features-list,
.features-list-one,
.social-list,
.feature-item-grey {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  font-weight: 700;
  line-height: 26px;
  font-size: 14px;

  padding-top: 14px;
  padding-bottom: 15px;
}

.site-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  color: #000000;
}

.site-nav li {
  width: 25%;
}

.site-nav li:first-child,
.site-nav li:nth-child(4n+1) {
  padding-left: 72px;
}

.site-nav li:nth-child(2),
.site-nav li:nth-child(4n+2) {
  padding-left: 14px;
}

.site-nav li:nth-child(4n-1),
.site-nav li:nth-child(4n) {
  text-align: right;
}

.site-nav li:nth-child(4n-1) {
  padding-right: 15px;
}

.site-nav li:nth-child(4n) {
  padding-right: 72px;
}

.logo {
  position: absolute;
  top: 0;
  left: 532px;
  z-index: 1;
}

.header a:hover img,
.header a:focus img,
.header a:active img {
  outline: inherit;
}


.site-nav a {
  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #81B3D2;
  outline: none;
}

.site-nav a:active {
  color: #B2B2B2;
  outline: none;
}

.site-nav .current-link {
  color: #766357;
}

/* Main
================ */

.container {
  background-color: #FFFFFF;
  text-align: center;
}

.intro {
  background-color: #27404E;
  background-image: url("../img/intro-mask.svg"),
    url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 0 452px, 0 -56px;

  width: 1200px;
  min-height: 724px;
}

.intro-img {
  margin: 77px 0;
  margin-bottom: 74px;
}

.box {
  background-color: #FFFFFF;

  min-height: 216px;
}

.title {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 29px;
}

.box .title {
  line-height: 26px;

  padding-top: 59px;
  padding-bottom: 0;
}

.text {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  margin-bottom: 0;
  margin-top: 0;

  padding-top: 24px;
}

.box .text {
  line-height: 26px;

  padding-top: 26px;
}

.title-white,
.text-white {
  color: #FFFFFF;
  text-align: center;

  display: block;
  width: 311px;
}

.text-white {
  padding-top: 21px;
}

.title-white {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 0;
  padding-bottom: 25px;
}

.feature-item {
  background-color: #FFFFFF;
  word-wrap: break-word;

}

.feature-item-blue {
  background-color: #81B3D2;
  color: #FFFFFF;

  width: 1200px;
  min-height: 256px;

  display: flex;
  flex-wrap: wrap;
}

.feature-item-blue img {
  width: 800px;
  height: 256px;
}

.feature-text-white {
  width: 400px;

  padding: 45px;
}

.features-list-one {
  background-color: #FFFFFF;

  width: 1200px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 55px;
  padding-bottom: 81px;
}

.features-list-one li {
  border: 1px solid transparent;
}

.features-list-one li:first-child {
  width: 304px;
}

.features-list-one li:nth-child(2) {
  width: 304px;
}

.features-list-one li:nth-child(3) {
  width: 304px;
}

.feature-item-one .title {
  padding-top: 29px;
  padding-bottom: 0;
  margin-top: 75px;

  position: relative;
}


.feature-item-one .title::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 76px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 49px;
  left: 50%;
  margin-left: -39px;
  z-index: 1;
}

.feature-item-one .title-one::before {
  background-image: url("../img/icon-1.svg");

}

.feature-item-one .title-two::before {
  background-image: url("../img/icon-2.svg");
}

.feature-item-one .title-three::before {
  background-image: url("../img/icon-3.svg");
}

.feature-item-grey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 1200px;

  padding: 47px 72px;
  padding-bottom: 59px;
  background-color: #EEEEEE;

  position: relative;
  z-index: 5;
}

.feature-item-grey li {
  background-color: #EEEEEE;
}

.feature-item-grey li:first-child {
  width: 255px;
}

.feature-item-grey li:nth-child(2) {
  width: 280px;
}

.feature-item-grey li:nth-child(3) {
  width: 254px;
}

.feature-item-grey .title {
  width: 140px;
  margin: 0 auto;
  padding-bottom: 24px;
}

.feature-item-grey .text {
  padding-top: 21px;
}

/* Search */

.search {
  background-color: #FFFFFF;
  width: 1200px;
  position: relative;
  z-index: 5;
}

.search-text {
  padding-top: 57px;
  padding-bottom: 45px;
}

.search strong {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
}

.search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
}

.search-box {
  width: 568px;
  margin: 0 auto;
}

.map {
  width: 1200px;
  height: 597px;
  position: relative;
  background: url(../img/map.jpg) center no-repeat;
}

.map iframe {
  position: relative;
  z-index: 1;
  border: none;
}

.floatUp {
  animation-name: floatUp;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.floatDown {
  animation-name: floatDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes floatUp {
  from {
    -webkit-transform: translateY(-395px);
    transform: translateY(-395px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floatDown {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-395px);
    transform: translateY(-395px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.error {
  animation: shake 0.5s;
}

.modal-search {
  font-size: 14px;
  color: #000000;
  font-weight: 700;

  background-color: #FFFFFF;

  width: 568px;
  position: absolute;
  top: 0;
  left: 316px;
  z-index: 2;
  display: block;
}

.search-form {
  padding: 55px;
  padding-left: 56px;
}

.search-form p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
}

.search-form input {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  background-color: #F2F2F2;

  box-sizing: border-box;
  border: none;
}

.date {
  margin-bottom: 29px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.date input {
  width: 346px;
  height: 38px;
  text-align: left;
  padding-left: 13px;
  text-transform: uppercase;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.number-adults,
.number-children {
  width: 114px;

  display: flex;
}

.number-adults {
  margin-right: 53px;
  margin-left: 42px;
}

.number-children {
  margin-left: 26px;
}

.number input {
  width: 38px;
  height: 38px;
  text-align: center;
}

.minus::before,
.plus::before,
.plus::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #A9A9A9;
  ;
  z-index: 2;
  top: 18px;
  right: 14px;
}

.plus::after {
  transform: rotate(90deg);
}

.btn-count:hover .minus::before,
.btn-count:hover .plus::before,
.btn-count:hover .plus::after,
.btn-count:focus .minus::before,
.btn-count:focus .plus::before,
.btn-count:focus .plus::after {
  background-color: #000000;
}

.btn-count:active .minus::before,
.btn-count:active .plus::before,
.btn-count:active .plus::after {
  background-color: #87B5D0;
}


.search-form input:hover,
.search-form input:focus {
  background-color: #EBEBEB;
}

.search-form input:active {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
}

.btn-calend {
  width: 40px;
  height: 100%;
  outline: none;

  background: url("../img/calendar.svg") no-repeat center;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

}

.btn-calend:hover,
.btn-calend:focus {
  background: url("../img/calendar_focus.svg") no-repeat center;
}

.btn-calend:active {
  background: url("../img/calendar_active.svg") no-repeat center;
}

.btn-count {
  background-color: #F2F2F2;

  width: 38px;
  height: 38px;
  border: none;
  position: relative;
}

.btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  word-wrap: break-word;

  display: block;
}

.btn-brown {
  background-color: #766357;

  width: 568px;
  padding-top: 30px;
  padding-bottom: 28px;
  margin: 0 auto;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #604E43;
}

.btn-brown:active {
  background-color: #503E33;
  color: #847870;
}


.btn-blue {
  background-color: #81B3D2;

  width: 458px;
  padding-top: 19px;
  padding-bottom: 13px;
  margin: 28px auto 0;
  margin-bottom: 0;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #669EC0;
}

.btn-blue:active {
  background-color: #5496BD;
  color: #87B5D0;
}

/* Footer
============== */

footer {
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  font-weight: 700;

  background-color: #FFFFFF;
  opacity: 0.9;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;

  padding-left: 125px;
  padding-right: 100px;
  padding-top: 28px;
  padding-bottom: 32px;

}

.footer-catalog {
  padding-top: 26px;
  padding-left: 130px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contacts {
  line-height: 32px;
}

.footer-contacts a {
  text-decoration: none;
  color: #000000;
}

.social-list {
  display: flex;
  flex-direction: row;

  padding-right: 53px;
  max-width: 400px;
  flex-wrap: wrap;

}

.social-list li:last-child {
  margin-right: 0;
}

.social-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social-button {
  background-color: #81B3D2;
  text-align: center;

  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 7px;
  margin-top: 7px;
  flex-shrink: 0;
}

.catalog-social {
  padding-right: 60px;
}

.catalog-icon {
  margin-right: 7px;
  margin-bottom: 2px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669EC0;
}

.social-button:active {
  background-color: #5496BD;
}

.social-button:active path {
  fill: #87B5D0;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  display: flex;
  align-items: center;
}

.academy {
  margin-left: 7px;
  padding-top: 7px;
}

.academy:hover path,
.academy:focus path {
  fill: #81B3D2;
}

.academy:active path {
  fill: #B2B2B2;
}

/* Catalog.html
================== */

.filter-options,
.filter-result,
.filter-list,
.sorting,
.catalog-list,
fieldset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-container {
  background-color: #FFFFFF;
}

.filters {
  background-color: #27404E;
  background-image: url("../img/filter\ background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;

  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  width: 1200px;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 30px;
  padding-right: 72px;
  padding-left: 72px;

}

.filter-group-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-facilities {
  padding-right: 117px;
}

.filter fieldset {
  border: none;
}

.filter legend,
.filter-price p {
  font-size: 16px;
  font-weight: 700;

  padding-right: 0;
  padding-left: 0;
}

.filter-price p {
  margin: 0;
}

.filter-option {
  padding-top: 17px;
}

.filter-options li:first-child {
  padding-top: 22px;
}

.filter-option label {
  vertical-align: top;
  margin-top: 3px;
}

.filter-options label:before {
  content: url("../img/checkbox-off.svg");
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 15px;
}

.filter-options input:checked+label:before {
  content: url("../img/checkbox-on.svg");
  width: 27px;
  height: 23px;
}


.checkbox:hover+label::before,
.checkbox:focus+label::before,
.checkbox:active+label::before {
  outline: 3px solid rgb(59, 153, 252);
}

.filter-price-box {
  border: 2px solid #FFFFFF;
  width: 319px;
  margin-top: 7px;

  position: relative;
}

.filter-price-box .price-min {
  padding-left: 64px;
}

.filter-price-box .price-max {
  padding-left: 72px;
}

.filter-price-box label::after {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.filter-price-box input {
  background: transparent;
  border: none;
  width: 50px;
  height: 32px;
  font: inherit;
}

.filter-price-box input[value] {
  color: #FFFFFF;
  font-size: 14px;
}

.range {
  position: relative;
}

.scale {
  height: 2px;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: -24px;


  background: rgba(255, 255, 255, 0.3);
}

.scale-bar {
  height: 2px;
  width: 80%;

  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  top: 13px;

  width: 20px;
  height: 20px;

  background: #ABABAB;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.3);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1C4F80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/* Button
============ */
.btn-filter {
  background: transparent;
  border: 2px solid #FFFFFF;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;

  display: block;
  width: 135px;

  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-right: 98px;
  margin-top: 54px;
  margin-bottom: 34px;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: #FFFFFF;
  color: #000000;
}

/* Section: .filter-result
==================== */
.filter-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 28px 72px;
  padding-top: 32px;
  border-bottom: 1px solid #E5E5E5;
}

.filter-ressult-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-ressult-text p {
  color: #000000;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 47px;
}

.filter-ressult-text span {
  padding-left: 5px;
}

.filter-ressult-text h2,
.filter-list a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.filter-ressult-text h2 {
  color: #000000;
  margin-right: 40px;
}

.filter-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;
}

.filter-list a {
  color: #B2B2B2;
  text-decoration: none;
  border-bottom: 1px dashed #81B3D2;

  margin-right: 34px;
}

.filter-list a:hover,
.filter-list a:focus {
  color: #81B3D2;
}

.filter-list a:active {
  border: none;
  color: #81B3D2;
}

a.current-result {
  border: none;
  color: #81B3D2;
}

.sorting {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;
}

.sorting li:first-child {
  margin-right: 14px;
}

a.sorting-icon path:hover,
a.sorting-icon path:focus {
  fill: #000000;
}

a.sorting-icon path:active {
  fill: #81B3D2;
}

a.sorting-icon-current path {
  fill: #81B3D2;
}

/* Section: catalog
 ==================== */
.catalog-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  border-bottom: 1px solid #E5E5E5;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 72px;
  padding-left: 72px;

}

.catalog-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.img-link {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.catalog-row {
  display: flex;
  flex-wrap: wrap;
}

.catalog-title {
  color: #000000;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  margin: 0;
}

.catalog-item a:not(.catalog-img) {
  color: #FFFFFF;

  font-weight: 700;
}

.catalog-img {
  background-color: #81B3D2;

  width: 135px;
  height: 90px;
}

.catalog-item p {
  color: #333333;

  margin: 0;
  padding-bottom: 13px;
  padding-top: 3px;
}

.catalog-type-one {
  padding-right: 37px;
}

.catalog-type-two {
  padding-right: 63px;
}

.catalog-type-three {
  padding-right: 20px;
}

.catalog-more {
  background-color: #81B3D2;

  display: inline-block;
  padding: 3px 16px;
  margin-right: 7px;
  vertical-align: middle;
}

.catalog-more:hover,
.catalog-more:focus {
  background-color: #669EC0;
}

.catalog-more:active {
  background-color: #5496BD;
  color: #87B5D0;
}

.catalog-reservation {
  background-color: #766357;

  display: inline-block;
  padding: 3px 16px;
  vertical-align: middle;
}

.catalog-reservation:hover,
.catalog-reservation:focus {
  background-color: #604E43;
}

.catalog-reservation:active {
  background-color: #503E33;
  color: #847870;
}

.catalog-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-rating p {
  color: #666666;
  background-color: #F2F2F2;
  padding: 3px 16px;
  margin-bottom: 5px;
}

.stars {
  display: block;
  background-image: url("../img/star.svg");
  background-repeat: space;

  height: 17px;
}

.stars-four {
  width: 89px;
}

.stars-three {
  width: 65px;
}

.stars-two {
  width: 42px;
}
